<div class="col1 width1">
    <p>
    The Spring 2013 studio BALTIMORE INVERSIONS will question the current peculiar condition 
where urbanity is outmatched by reality. Taking a former petroleum refinery site whose owners
themselves wish to invert the site’s history as an oil refinery and its reputation as a source of 
neighborhood blight, the studio will investigate Baltimore’s current condition in order to generate
formal, programmatic, and socioeconomic reversals of that condition.
    </p>
</div>
<div class="col2 width1">
    <p>
    Our site, a former oil refinery and tank farm still partially owned by Exxon-Mobil, is in its own 
process of inversion. Like most EM properties, the site has been cleared of all historic structures 
and displays little of its former character. When environmental remediation is complete, the site 
will be a ‘blank slate’ ready for transformation into whatever the owner, the market, or the city 
deem appropriate. It is this transformation that the studio will theorize and, in proposal form, 
realize. 
    </p>
</div>
<div class="col3 width1">
    <p>
    Like many shrinking cities, Baltimore has a weak land market and struggles with the challenge 
of reusing much of its vacant land. The city’s largest land problem is its thousands of vacant 
housing units, but empty commercial buildings downtown and vacant and polluted industrial 
land (such as our site) are also substantial problems.
    </p>
    <p>
    </p>
</div>
<div class="col4 width1">
    <p>
    Our site, a former oil refinery and tank farm still partially owned by Exxon-Mobil, is in its own 
process of inversion. Like most EM properties, the site has been cleared of all historic structures 
and displays little of its former character. When environmental remediation is complete, the site 
will be a ‘blank slate’ ready for transformation into whatever the owner, the market, or the city 
deem appropriate. It is this transformation that the studio will theorize and, in proposal form, 
realize. 
    </p>
</div>





