{% extends "work.html" %}
{% load static %}

{% block css %}
      <link rel="stylesheet" href="{% get_static_prefix %}css/project.css" type="text/css">
{% endblock %}

<!--item_list-->

<!--Item-->
  <!--order_key-->
  <!--title-->
  <!--image-->
  <!--text-->

<!--project-->
  <!--name-->
  <!--slug-->
  <!--title-->
  <!--subtitle-->
  <!--text-->
  <!--snapshot-->

{% block content %}
<div class="project-text">
  <div class="project-titleblock">
    <span class="project-title">{{project.title}}</span>
    <span class="project-subtitle">{{project.subtitle}}</span>
  </div>
  <div class="project-description">
    {{project.text}}
  </div>
</div>
<div class="itemwrapper">
  {% for item in item_list %}
  <div class="item">
    <div class="item-image">
      <img src="{{item.image.url}}" >
    </div>
    <div class="item-textblock">
      <span class="item-title">{{item.title}}</span>
      <span class="item-description">{{item.text}}</span>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
