{% extends "base.html" %}
{% load static %}

{% block header %}
<div id="navigation">
    {% include "navigation.html" %}
</div>
{% endblock %}


{% block content %}
<h2 class="projects-header">Projects</h2>
<div class="projects">
    {% for project in projects %}
    {% include "project_list_style.html" %}
    {% endfor %}
</div>
<h2 class="projects-header">XX Lines Research</h2>
<div class="projects xxlines">
    {% for project in xxlines %}
    {% include "project_list_style.html" %}
    {% endfor %}
</div>
{% endblock %}




